<html>

<head>
  <title></title>
</head>

<body>
  <div>
    <input type="button" id="btn1" value="Show Hide" (click)="inbox()" />
    <div class="sidenav">
      <a href="#">Inbox</a>
      <a href="#">Sent</a>
      <a href="#">Deleted</a>
      <a routerLink="/sign_in" routerLinkActive="active">back</a>
    </div>

    <div class="main" ng-if="emails">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Sender</th>
            <th scope="col">Receiver</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of emails">
                <td>{{email.sender}}</td>
                <td>{{email.receiver}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</body>

</html>